h1, h2, h3, h4, p {
	font-family: Arial;
}

.centre {
	text-align: center;
}

body {
	margin: 0px 20% 0px 20%;
}

.form-wrapper.screenshot-form {
	border: 2px solid #666;
	border-radius: 6px;
	background-color: #666666;
	padding: 10px 10px;
	box-shadow: 0px 7px 10px 5px #888;
}

.form-wrapper-inner {
	background-color: #e5e5e5;
	height: 100%;
	width: 100%;
	padding-bottom: 30px;
	padding-top: 5px;
}

.form-wrapper-inner p {
	padding: 5px;
}

.form-wrapper-inner form{
	background-color: whitesmoke;
	margin: auto;
	width: 48%;
	border: solid 1px #666;
	box-shadow: 0 0 10px;
	padding: 8px;
}

.form-wrapper-inner label {
	font-family: Arial;
	font-weight: bolder;
}
